/* output section */

.output__container{
    width: 400px;
}

.output__container li{
    width: 100%;
    outline: none;
    padding: 20px 10px;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.25);
}


.ind__task div{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.delete{
    position: absolute;
    right: 10px;
    top: 12%;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 800;
}


.complete{
    text-decoration: line-through;
}

